<ion-content class="ion-padding">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Mis Pokemones</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="pikachu-card">
          <ion-img class="pikachu-image" src="https://64.media.tumblr.com/f39b52142b4a740527257ee21b094fbc/tumblr_papijx9XR91sznvawo2_500.gif"></ion-img>
          <ion-card-header>
            <ion-card-title>BALBASAUR</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Tras nacer, crece alimentándose durante un tiempo de los nutrientes que contiene el bulbo de su lomo.</p>
            <div class="stats">
              <!-- Lista inicial -->
              <ion-list class="lista-izquierda">
                <ion-item>PS</ion-item>
                <ion-item>Ataque</ion-item>
                <ion-item>Defesna</ion-item>
                <ion-item>Ataque Especial</ion-item>
                <ion-item>Defensa Especial</ion-item>
                <ion-item>Velocidad</ion-item>
              </ion-list>    
              <ion-list class="lista-derecha">
                <ion-item>Nivel 3</ion-item>
                <ion-item>Nivel 3</ion-item>
                <ion-item>Nivel 3</ion-item>
                <ion-item>Nivel 4</ion-item>
                <ion-item>Nivel 4</ion-item>
                <ion-item>Nivel 3</ion-item>
              </ion-list>
            </div>
          </ion-card-content>
          <ion-row class="ion-justify-content-around">
            <ion-button class="share-button" fill="outline">Compartir</ion-button>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="pikachu-card">
          <ion-img class="pikachu-image" src="https://78.media.tumblr.com/dc1b9330d38378078c08c96f0e61f59d/tumblr_nozmmahbpo1scncwdo1_500.gif"></ion-img>
          <ion-card-header>
            <ion-card-title>WEEDLE</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>El aguijón de la cabeza es muy puntiagudo. Se alimenta de hojas oculto en la espesura de bosques y praderas. </p>
            <div class="stats">
              <!-- Lista inicial -->
              <ion-list class="lista-izquierda">
                <ion-item>PS</ion-item>
                <ion-item>Ataque</ion-item>
                <ion-item>Defesna</ion-item>
                <ion-item>Ataque Especial</ion-item>
                <ion-item>Defensa Especial</ion-item>
                <ion-item>Velocidad</ion-item>
              </ion-list>    
              <ion-list class="lista-derecha">
                <ion-item>Nivel 3</ion-item>
                <ion-item>Nivel 3</ion-item>
                <ion-item>Nivel 2</ion-item>
                <ion-item>Nivel 2</ion-item>
                <ion-item>Nivel 2</ion-item>
                <ion-item>Nivel 3</ion-item>
              </ion-list>
            </div>
          </ion-card-content>
          <ion-row class="ion-justify-content-around">
            <ion-button class="share-button" fill="outline">Compartir</ion-button>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-card class="pikachu-card">
          <ion-img class="pikachu-image" src="https://66.media.tumblr.com/ed7da8e82875f1d25f10f88bca0a2487/tumblr_mh8aoqyphc1rfjowdo1_500.gif"></ion-img>
          <ion-card-header>
            <ion-card-title>ARBOK</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>El dibujo que tiene en el vientre parece una cara terrorífica. Los rivales más débiles salen huyendo nada más verlo. </p>
            <div class="stats">
              <!-- Lista inicial -->
              <ion-list class="lista-izquierda">
                <ion-item>PS</ion-item>
                <ion-item>Ataque</ion-item>
                <ion-item>Defesna</ion-item>
                <ion-item>Ataque Especial</ion-item>
                <ion-item>Defensa Especial</ion-item>
                <ion-item>Velocidad</ion-item>
              </ion-list>    
              <ion-list class="lista-derecha">
                <ion-item>Nivel 4</ion-item>
                <ion-item>Nivel 6</ion-item>
                <ion-item>Nivel 5</ion-item>
                <ion-item>Nivel 4</ion-item>
                <ion-item>Nivel 5</ion-item>
                <ion-item>Nivel 5</ion-item>
              </ion-list>
            </div>
          </ion-card-content>
          <ion-row class="ion-justify-content-around">
            <ion-button class="share-button" fill="outline">Compartir</ion-button>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
