<ion-header>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Favoritos</ion-title>
    </ion-toolbar>
  </ion-header>
  
</ion-header>
<ion-content class="ion-padding" style="background-color: #fff;">
  <div class="text-center mb-3">
    <p style="color: #fff;">Tienes cuatro pokemones favoritos</p>
  </div>
  <div class="row ion-padding">
    <div class="col-6 col-md-3 mb-3 text-center d-flex justify-content-center">
      <!-- Contenido del Pokémon 1 -->
      <ion-card style="width: 190px; height: 150px;" routerLink="/detalle-charmander">
        <img alt="Silhouette of mountains" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e7948d7f-37fa-43f3-b3ad-69390c3ec4ce/d6b3l7g-c8aa2c72-3233-4e86-bb2f-c273cf58e739.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2U3OTQ4ZDdmLTM3ZmEtNDNmMy1iM2FkLTY5MzkwYzNlYzRjZVwvZDZiM2w3Zy1jOGFhMmM3Mi0zMjMzLTRlODYtYmIyZi1jMjczY2Y1OGU3MzkuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.69YO8IOy6hEVC9DvtbXQUhblAxIOAqFsAT4goYlZX_k" style="max-width: 100%; height: auto;" />
        <ion-card-header>
          <ion-card-subtitle>Charmander</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="col-6 col-md-3 mb-3 text-center d-flex justify-content-center">
      <!-- Contenido del Pokémon 2 -->
      <ion-card style="width: 190px; height: 150px;" routerLink="/detalle-caterpie">
        <img alt="Silhouette of mountains" src="https://66.media.tumblr.com/tumblr_ma9fz0Rb0e1rfjowdo1_500.gif" style="max-width: 100%; height: auto;" />
        <ion-card-header>
          <ion-card-subtitle>Caterpie</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="col-6 col-md-3 mb-3 text-center d-flex justify-content-center">
      <!-- Contenido del Pokémon 3 -->
      <ion-card style="width: 190px; height: 150px;" routerLink="/detalle-squirtle">
        <img alt="Silhouette of mountains" src="https://art.ngfiles.com/images/1099000/1099334_gatekid3_squirtle-reanimated-crystal-sprite.gif?f1575218287" style="max-width: 100%; height: auto;" />
        <ion-card-header>
          <ion-card-subtitle>Squirtle</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="col-6 col-md-3 mb-3 text-center d-flex justify-content-center">
      <!-- Contenido del Pokémon 4 -->
      <ion-card style="width: 190px; height: 150px;"routerLink="/detalle-pokemon">
        <img alt="Silhouette of mountains" src="https://i.pinimg.com/originals/bb/52/20/bb5220dccb70fed4d9bd101efad8476d.gif" style="max-width: 100%; height: auto;" />
        <ion-card-header>
          <ion-card-subtitle>Pikachu</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/perfil">
          <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="center">
        <ion-button routerLink="/catalogo">
          <ion-icon slot="icon-only" name="grid-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button routerLink="/ajustes">
          <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
  
</ion-content>
