<ion-content class="ion-padding">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Pikachu</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card class="pikachu-card">
    <ion-img class="pikachu-image" src="https://i.pinimg.com/originals/bb/52/20/bb5220dccb70fed4d9bd101efad8476d.gif"></ion-img>
    <ion-card-header>
      <ion-card-title>PIKACHU</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Cuando se enfada, este Pokémon descarga la energía que almacena en el interior de las bolsas de las mejillas. Cuando varios de estos Pokémon se juntan, su energía puede causar fuertes tormentas.</p>
      <div class="stats">
        <!-- Lista inicial -->
        <ion-list class="lista-izquierda">
          <ion-item>PS</ion-item>
          <ion-item>Ataque</ion-item>
          <ion-item>Defesna</ion-item>
          <ion-item>Ataque Especial</ion-item>
          <ion-item>Defensa Especial</ion-item>
          <ion-item>Velocidad</ion-item>
        </ion-list>    
        <ion-list class="lista-derecha">
          <ion-item>Nivel 3</ion-item>
          <ion-item>Nivel 4</ion-item>
          <ion-item>Nivel 3</ion-item>
          <ion-item>Nivel 3</ion-item>
          <ion-item>Nivel 3</ion-item>
          <ion-item>Nivel 6</ion-item>
        </ion-list>
      </div>
    </ion-card-content>
    <ion-row class="ion-justify-content-around">
      <ion-button class="eliminate-button" fill="outline">Eliminar</ion-button>
      <ion-button class="share-button" fill="outline">Compartir</ion-button>
    </ion-row>
  </ion-card>
</ion-content>
